{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "endOfLine": "crlf",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true
}
